<Customers>
  <Customer>
    <Id>1</Id>
    <Name>Kent</Name>
    <Address1>dasds</Address1>
    <Address2>dasdsa</Address2>
    <PostalCode>321</PostalCode>
    <City>dsaad</City>
    <Email>dssd</Email>
    <PhoneNumber>321</PhoneNumber>
    <CustomerSince>131083081170000000</CustomerSince>
    <CustomerEnd>131141833170000000</CustomerEnd>
  </Customer>
  <Customer>
    <Id>2</Id>
    <Name>Nielsen</Name>
    <Address1>dasds</Address1>
    <Address2>dasdsa</Address2>
    <PostalCode>321</PostalCode>
    <City>dsaad</City>
    <Email>dssd</Email>
    <PhoneNumber>321</PhoneNumber>
    <CustomerSince>131083081170000000</CustomerSince>
    <CustomerEnd>131141833170000000</CustomerEnd>
  </Customer>
  <Customer>
    <Id>2</Id>
    <Name>Nielsen</Name>
    <Address1>dasds</Address1>
    <Address2>dasdsa</Address2>
    <PostalCode>321</PostalCode>
    <City>dsaad</City>
    <Email>dssd</Email>
    <PhoneNumber>321</PhoneNumber>
    <CustomerSince>131083081170000000</CustomerSince>
    <CustomerEnd>131141833170000000</CustomerEnd>
  </Customer>
</Customers>